.sign-up-heading {
    margin: 30px auto;
    width: 50%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.deneme {
    font-family: 'Gelasio', serif;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}